@import 'variables';

// RESET
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 4px;
}

// Animation or transition

[type='button'],
button {
  width: $space5;
  height: $space5;
  padding: 6px;
  border: none;
  border-radius: 50%;
  background-color: $variant-color;
  @include shadow;

  transition: box-shadow 0.4s;
  transition: background-color 0.4s;
}
[type='button']:hover,
button:hover {
  box-shadow: 5px 18px 14px -2px rgba(0, 0, 0, 0.4);
  background-color: white;
}
[type='button']:active,
button:active {
  box-shadow: 5px 6px 14px -2px rgba(0, 0, 0, 0.05);
  background-color: $primary-color;
}

// main elements
body {
  background: $primary-color;
  color: #fff;
  font-family: $f2;
  line-height: 2;
}

h1 {
  font-family: $f1;
  font-weight: normal;
}

ul {
  list-style: none;

  li {
    button {
      margin: 0 $space2 $space2 0;
      padding: 6px;
    }
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 $space5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;
  margin-top: $space20;
  margin-bottom: $space10;
  background: rgba(0, 0, 0, 0.3);
  padding: $space5;
  border-bottom: 5px #fff solid;
  @include shadow;
}

// mobile first css

#original-text {
  width: 100%;
  margin-bottom: $space10;

  label {
    display: block;
    margin-bottom: $space2;
    @include title-text;
  }

  textarea {
    width: 100%;
    min-height: 250px;
    padding: $space5;
    line-height: 2;
    text-align: justify;
    @include shadow;
  }
}

.replacements-box {
  width: 100%;

  #replacements {
    width: 100%;
    margin-bottom: $space10;
    padding: $space2;
    background: rgba(0, 0, 0, 0.3);
    @include shadow;

    form {
      display: inline-block;

      margin-bottom: $space10;

      input {
        margin-bottom: $space5;
      }

      label {
        font-family: $f1;
      }

      label + input {
        width: 100%;
      }

      label,
      input {
        display: block;
        padding: 6px;
      }

      [type='button'] {
        width: auto;
        border-radius: 4px;
        font-family: $f1;
      }
    }

    ul {
      display: inline-block;
      margin-bottom: $space5;
    }

    ul + button {
      width: 100%;
      margin-bottom: $space10;
      padding: 6px;
      border-radius: 4px;
      font-family: $f1;
      font-size: $space2;
    }
  }

  #result {
    min-height: 340px;
    margin-bottom: $space10;
    padding: $space5;
    text-align: justify;
    border: 1px dashed;
  }
}

@media screen and (min-width: 550px) {
  .replacements-box {
    #replacements {
      form,
      ul {
        width: 45%;
      }
      ul {
        margin-left: $space2;
      }
    }

    #result {
      min-width: 340px;
    }
  }
}

@media screen and (min-width: 768px) {
  .replacements-box {
    display: flex;

    #replacements {
      min-width: 300px;

      form,
      ul {
        width: 100%;
        margin-left: 0;
      }
    }

    #result {
      margin-left: $space10;
    }
  }
}
